{% extends 'base.html'%}

{% block search %}

    <form class="d-flex" action = "{{url_for('search')}}">
              <input class="form-control me-2" type="text" placeholder="Search" name ='q'>
              <button class="btn btn-dark" type="submit">Search</button>
            </form>


{% endblock %}

{%block title%}
{{g.user.name}}
{% endblock %}

{% block content %}
    <!-- breakkkkkkkkkkkkkkkkkk -->
          <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Build your recipes</h1>
                <p class="lead text-muted">This is your recipe world. Here, you get to browse amazing recipes, create your recipes and show the world. Live life one recipe at a time.</p>
                <p>
                  <a href="{{url_for('upload_recipes')}}" class="btn btn-dark my-2">Upload Recipes</a>
                </p>
              </div>
            </div>
          </section>
    </ul>
        
<div class="container mx-auto mt-4">
  <div class="row" style="--bs-gutter-y: 1.5rem;">
    <div class="col-md-4">
      <div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/air-fryer-chicken-parmesan-recipe-1-1653592008.jpg?crop=0.941xw:0.941xh;0.0535xw,0.0587xh&resize=1200:*" class="card-img-top" alt="Air fryer chicken parmesan">
  <div class="card-body">
    <h5 class="card-title">Air fryer chicken parmesan</h5>
        <h6 class="card-subtitle mb-2 text-muted">30 mins</h6>
    <p class="card-text">Serve these cheesy, crispy chicken cutlets with any pasta dish for a supper that's sure to make your family say, "grazie!".</p>
       <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Recipe</a>
<!--     <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
    </div>    
       <div class="col-md-4">
<div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/hamburger-soup-recipe-1633661512.jpg?crop=0.668xw:1.00xh;0.129xw,0&resize=1200:*" class="card-img-top" alt="Hamburger Soup">
  <div class="card-body">
    <h5 class="card-title">Hamburger Soup</h5>
        <h6 class="card-subtitle mb-2 text-muted">30 mins</h6>
    <p class="card-text"> It's meaty and hearty and flavorful and satisfying.</p>
    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> View Recipe</a>
<!--     <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
    </div>    
          <div class="col-md-4">
<div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/chicken-primavera-recipe-1646146815.jpg?crop=0.631xw:0.946xh;0.218xw,0.0536xh&resize=1200:*" class="card-img-top" alt="Chicken Primavera">
  <div class="card-body">
    <h5 class="card-title">Chicken Primavera</h5>
        <h6 class="card-subtitle mb-2 text-muted">30 mins</h6>
    <p class="card-text">You'll get a little bit of everything in this one pot dinner: chicken, pasta, and veggies. Serve it up with garlic bread for the perfect family meal.</p>
    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Recipe</a>
<!--     <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
  </div>
    
    <div class="col-md-4">
      <div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/italian-sandwich-recipe-1-1674500618.jpg?crop=1xw:1xh;center,top&resize=1200:*" class="card-img-top" alt="Italian Sandwich">
  <div class="card-body">
    <h5 class="card-title">Italian Sandwich</h5>
        <h6 class="card-subtitle mb-2 text-muted">30 mins</h6>
    <p class="card-text">These sandwiches are big...and we do mean BIG! They're perfect for a hungry crowd or just a few regular teenagers.</p>
       <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Recipe</a>
<!--     <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
    </div>    
       <div class="col-md-4">
<div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/shrimp-pesto-pasta-recipe-1646764605.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*" class="card-img-top" alt="Shrimp Pesto Pasta">
  <div class="card-body">
    <h5 class="card-title">Shrimp Pesto Pasta</h5>
        <h6 class="card-subtitle mb-2 text-muted">30 mins</h6>
    <p class="card-text">The quick-cooking shrimp and spaghetti are tossed with the herby goodness of homemade basil pesto.</p>
    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Recipe</a>
<!--     <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
    </div>    
          <div class="col-md-4">
<div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/beef-vegetable-kebabs-with-orzo-1587395896.jpg?crop=0.838xw:1.00xh;0.128xw,0&resize=1200:*" class="card-img-top" alt="Beef-Vegetable Kebabs with Orzo">
  <div class="card-body">
    <h5 class="card-title">Beef-Vegetable Kebabs with Orzo</h5>
        <h6 class="card-subtitle mb-2 text-muted">30 mins</h6>
    <p class="card-text">These seasoned steak and veggie kebabs are easy to prep ahead. Come dinnertime, all you need to do it toss them on the grill.</p>
    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Recipe</a>
<!--     <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
  </div>
    
    <div class="col-md-4">
      <div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/goulash-recipe-1637354807.jpg?crop=0.666875xw:1xh;center,top&resize=1200:*" class="card-img-top" alt="Goulash">
  <div class="card-body">
    <h5 class="card-title">Goulash</h5>
        <h6 class="card-subtitle mb-2 text-muted">30 mins</h6>
    <p class="card-text">Goulash (sometimes referred to as Beefaroni) is basically just a mash-up of chili and mac and cheese. It's comfort food at its best.</p>
       <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Recipe</a>
<!--     <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
    </div>    
       <div class="col-md-4">
<div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/pepper-steak-recipe-1-1643841085.jpg?crop=0.672xw:1.00xh;0.181xw,0&resize=1200:*" class="card-img-top" alt="Pepper Steak">
  <div class="card-body">
    <h5 class="card-title">Pepper Steak</h5>
        <h6 class="card-subtitle mb-2 text-muted">30 mins</h6>
    <p class="card-text">This homemade pepper steak is ready in less time than it would take to order from your favorite takeout restaurant. You don't even need a wok to make it—any skillet will do!</p>
    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Recipes</a>
<!--     <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
    </div>    
          <div class="col-md-4">
<div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/instant-pot-mac-and-cheese-1653591467.jpg?crop=0.669xw:1.00xh;0.179xw,0&resize=1200:*" class="card-img-top" alt="Instant Pot Mac and Cheese">
  <div class="card-body">
    <h5 class="card-title">Instant Pot Mac and Cheese</h5>
        <h6 class="card-subtitle mb-2 text-muted">30 mins</h6>
    <p class="card-text">Even picky eaters can get behind this cheesy classic. You don't even need to boil a separate pot for the macaroni!</p>
    <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> View Recipe</a>
<!--     <a href="#" class="btn btn-primary"><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
  </div>
    
    <div class="col-md-4">
      <div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/bourbon-chicken-recipe-1-1660591737.jpg?crop=0.929xw:0.929xh;0.0714xw,0.0714xh&resize=1200:*" class="card-img-top" alt="Bourbon Chicken">
  <div class="card-body">
    <h5 class="card-title">Bourbon Chicken</h5>
        <h6 class="card-subtitle mb-2 text-muted">30 mins</h6>
    <p class="card-text">There's a sticky-sweet sauce on this chicken dinner that's incredibly delicious. You'll want to serve it over rice to soak up all that bourbon, soy, and brown sugar flavor.</p>
       <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Recipe</a>
<!--     <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
    </div>    
       <div class="col-md-4">
<div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/baked-salmon-recipe-1646167646.jpg?crop=0.668xw:1.00xh;0.0799xw,0&resize=1200:*" class="card-img-top" alt="Oven Baked Salmon">
  <div class="card-body">
    <h5 class="card-title">Oven Baked Salmon</h5>
        <h6 class="card-subtitle mb-2 text-muted">20 mins</h6>
    <p class="card-text">The greatest salmon dinner is just 20 minutes away with this recipe. You can cook the entire thing in one sheet tray.</p>
    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Recipes</a>
<!--     <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
    </div>    
          <div class="col-md-4">
<div class="card h-100" style="width: 18rem;">
  <img src="https://hips.hearstapps.com/hmg-prod/images/huevos-rancheros-recipe2-1655870959.jpg?crop=1xw:1xh;center,top&resize=1200:*" class="card-img-top" alt="Huevos Rancheros">
  <div class="card-body">
    <h5 class="card-title">Huevos Rancheros</h5>
        <h6 class="card-subtitle mb-2 text-muted">10 mins</h6>
    <p class="card-text">Everyone loves breakfast-for-dinner—especially when it involves beans, crispy tortillas, runny eggs, and pico de gallo.</p>
    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> View Recipe</a>
<!--     <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
  </div>
  </div>
  </div>
</div>
  </div>
      


{% endblock %}






<!--   <a href= "{{url_for('upload_recipes')}}"><button>Upload New Recipe</button></a>
   -->
  
  
  
  <!--       <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <div>
            <a class="navbar-brand">Recipes with S&M</a>
          </div>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-dark me-md-2" type="button">Sign In</button>
            <button class="btn btn-outline-dark" type="button">Sign Up</button>
          </div>
              
        </div>
      </nav> -->




<!--       <div class="container bg-light">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
      
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
              </ul>
      
              <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
              </form>
      
              <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" style="">
                  <!-- <li><a class="dropdown-item" href="#">Upl</a></li> -->
                  <!-- <li><a class="dropdown-item" href="#">Settings</a></li> -->
<!--                   <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
              </div>
            </div>
          </div> --> 